/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 1rem;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Popup container */
.popup {
  width: 44rem;
  height: 24.3rem;
  position: relative;
  padding: 2rem;
  overflow: hidden;
  background-image: url(../../assets/images/PromoPopUpSubtract.webp);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  padding: 2.6rem 2.5rem 2.5rem 2.5rem;
  animation: slideUp 0.4s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.popupBody {
  height: 100%;
  transform: rotate(-3deg);
}

/* Close button */
.closeButton {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: color 0.3s;
}

.closeButton img {
  width: 100%;
  height: 100%;
}

.closeButton:hover {
  color: #000;
}

/* Content */
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Heading */
.heading {
  color: rgba(51, 51, 51, 1);
  margin-bottom: 0.7rem;
  font-family: "SF Pro";
  font-weight: 760;
  font-size: 2.4rem;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

/* Subheading */
.subheading {
  font-family: "SF Pro";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 1.55rem;
}

/* Promo section */
.promoSection {
  width: 33.1rem;
  height: 5.9rem;
  background: rgba(215, 255, 107, 1);
  padding: 0.4rem;
  border-radius: 1.4rem;
  display: flex;
  align-self: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.promoSection:hover {
  transform: scale(1.02);
}

.promoSection:active {
  transform: scale(0.98);
}

/* Promo button */
.promoButton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: none;
  border-radius: 1.4rem;
  border: 0.1rem dashed rgba(168, 206, 69, 1);
  gap: 0.7rem;
  cursor: pointer;
}

/* Promo code text */
.promoCode {
  font-family: "SF Pro";
  font-weight: 870;
  font-style: Expanded Heavy;
  font-size: 3.2rem;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(168, 206, 69, 1);
}

.promoButton img {
  width: 3.5rem;
  height: 3.5rem;
}

.discountText {
  font-family: "SF Pro";
  font-weight: 858;
  font-style: Italic;
  font-size: 1.4rem;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
  margin-top: 1rem;
}

.popupHr {
  width: 27.2rem;
  height: 1px;
  background: rgba(51, 51, 51, 0.1);
  margin-top: 2rem;
}

@media only screen and (max-width: 414px) {
  /* Promo section */
  .promoSection {
    width: 30.1rem;
    height: 5rem;
    padding: 0.4rem;
    border-radius: 1.4rem;
  }

  .promoButton {
    width: 100%;
    height: 100%;
    border-radius: 1.4rem;
    gap: 0.7rem;
  }

  .promoCode {
    font-size: 2.5rem;
  }

  .promoButton img {
    width: 3rem;
    height: 3rem;
  }
}
